.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.25rem;
}
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.carousel-caption h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.carousel-caption a {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
